In [23]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

pd.DataFrame(people)

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [8]:
import pandas as pd 
df = pd.DataFrame({"Col1": [1, 2, 3], "coL2": [4, 5, 6]})

print(df.rename(columns={"Col1": "a",}))
#    a  coL2
# 0  1     4
# 1  2     5
# 2  3     6
print(df.rename({"Col1": "a",}, axis='columns')) # same as above
#    a  coL2
# 0  1     4
# 1  2     5
# 2  3     6
print(df.rename(index={0: "x", 1: "y", 2: "z"}))
#    Col1  coL2
# x     1     4
# y     2     5
# z     3     6

print(df.index) # RangeIndex(start=0, stop=3, step=1)

print(df.rename(index=str).index) # can cast index to different types
# Index(['0', '1', '2'], dtype='object')

# print(df.rename(index=int).index) # can cast index to different types
# # Int64Index([0, 1, 2], dtype='int64')

NameError: name 'pd' is not defined

In [123]:
df = pd.DataFrame({"num_legs": [4, 4, 2],
                   "num_arms": [0, 0, 2]},
                  index=["dog", "cat", "monkey"]).rename_axis(index='animal', columns='limbs')
print(df)
# limbs   num_legs  num_arms
# animal                    
# dog            4         0
# cat            4         0
# monkey         2         2
df.index = pd.MultiIndex.from_product([['mammal'],
                                       ['dog', 'cat', 'monkey']],
                                      names=['type', 'name'])
print(df)
# limbs          num_legs  num_arms
# type   name                      
# mammal dog            4         0
#        cat            4         0
#        monkey         2         2
print(df.rename_axis(index={'type': 'class'}))
# limbs          num_legs  num_arms
# class  name                      
# mammal dog            4         0
#        cat            4         0
#        monkey         2         2

limbs   num_legs  num_arms
animal
dog            4         0
cat            4         0
monkey         2         2
limbs          num_legs  num_arms
type   name
mammal dog            4         0
       cat            4         0
       monkey         2         2
limbs          num_legs  num_arms
class  name
mammal dog            4         0
       cat            4         0
       monkey         2         2