In [6]:
from ds_utils.ds_preamble import *
from ds_utils.ds_plotting import *
from ds_utils.ds_helper import *

calling ds_preamble..
calling ds_helper...

In [38]:
# %ls ../data/stack-overflow-developer-survey-2019
df_schema = pd.read_csv('../data/stack-overflow-developer-survey-2019/survey_results_schema.csv')
df_raw = pd.read_csv('../data/stack-overflow-developer-survey-2019/survey_results_public.csv')

In [39]:
df = df_raw.copy()

In [212]:
# check whether a string exists in a dataframe column
# want to find if Hong Kong is included as a country
unique_names = df.Country.unique()
[name for name in unique_names if isinstance(name, str) and "Hong" in name]

country_names = pd.Series(unique_names)
country_names[country_names.str.contains('Hong').replace(np.nan, False)]

['Hong Kong (S.A.R.)']

52    Hong Kong (S.A.R.)
dtype: object

In [218]:
df.columns.sort_values()[df.columns.sort_values().str.contains("language", case=False)]

Index(['LanguageDesireNextYear', 'LanguageWorkedWith'], dtype='object')

In [229]:
df.LanguageWorkedWith[df.LanguageWorkedWith.str.contains(r';?R;?').replace(np.nan, False)]

5                                               Java;R;SQL
8        Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;P...
9                            C#;Go;JavaScript;Python;R;SQL
11        Bash/Shell/PowerShell;HTML/CSS;Java;Python;R;SQL
17                                                Python;R
                               ...
88836                                      C#;Python;R;SQL
88841    Bash/Shell/PowerShell;C++;C#;HTML/CSS;Python;Ruby
88848    Bash/Shell/PowerShell;HTML/CSS;JavaScript;Pyth...
88857             Bash/Shell/PowerShell;HTML/CSS;PHP;R;SQL
88860      Bash/Shell/PowerShell;C++;Python;Ruby;Other(s):
Name: LanguageWorkedWith, Length: 13947, dtype: object

In [49]:
# make `YearsCode` to be float
df['YearsCode'] = df.YearsCode.replace(['Less than 1 year', 'More than 50 years'],[0,51]).astype(float)

In [214]:
df.groupby('Gender').YearsCode.median()
df.groupby('EdLevel').YearsCode.median()

Gender
Man                                                             9.0
Man;Non-binary, genderqueer, or gender non-conforming          10.0
Non-binary, genderqueer, or gender non-conforming               9.0
Woman                                                           6.0
Woman;Man                                                       5.0
Woman;Man;Non-binary, genderqueer, or gender non-conforming     7.0
Woman;Non-binary, genderqueer, or gender non-conforming         9.0
Name: YearsCode, dtype: float64

EdLevel
Associate degree                                                                       8.0
Bachelor’s degree (BA, BS, B.Eng., etc.)                                               9.0
I never completed any formal education                                                 5.0
Master’s degree (MA, MS, M.Eng., MBA, etc.)                                           12.0
Other doctoral degree (Ph.D, Ed.D., etc.)                                             18.0
Primary/elementary school                                                              4.0
Professional degree (JD, MD, etc.)                                                    10.0
Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)     5.0
Some college/university study without earning a degree                                 9.0
Name: YearsCode, dtype: float64

In [63]:
df.groupby('Gender').Sexuality.value_counts()

Gender                                                       Sexuality
Man                                                          Straight / Heterosexual                            65496
                                                             Bisexual                                            2262
                                                             Gay or Lesbian                                      1298
                                                             Bisexual;Straight / Heterosexual                     396
                                                             Bisexual;Gay or Lesbian                               56
                                                             Bisexual;Gay or Lesbian;Straight / Heterosexual       54
                                                             Gay or Lesbian;Straight / Heterosexual                26
Man;Non-binary, genderqueer, or gender non-conforming        Straight / Heterosexual                               56
                                                             Bisexual                                              47
                                                             Gay or Lesbian                                        23
                                                             Bisexual;Straight / Heterosexual                      15
                                                             Bisexual;Gay or Lesbian                                2
Non-binary, genderqueer, or gender non-conforming            Bisexual                                             202
                                                             Straight / Heterosexual                               74
                                                             Gay or Lesbian                                        63
                                                             Bisexual;Gay or Lesbian                               13
                                                             Bisexual;Straight / Heterosexual                       5
                                                             Bisexual;Gay or Lesbian;Straight / Heterosexual        3
                                                             Gay or Lesbian;Straight / Heterosexual                 3
Woman                                                        Straight / Heterosexual                             4017
                                                             Bisexual                                             802
                                                             Gay or Lesbian                                       340
                                                             Bisexual;Straight / Heterosexual                      61
                                                             Bisexual;Gay or Lesbian                               33
                                                             Bisexual;Gay or Lesbian;Straight / Heterosexual        9
                                                             Gay or Lesbian;Straight / Heterosexual                 5
Woman;Man                                                    Straight / Heterosexual                               43
                                                             Bisexual                                              19
                                                             Bisexual;Gay or Lesbian;Straight / Heterosexual        6
                                                             Bisexual;Straight / Heterosexual                       3
                                                             Gay or Lesbian                                         3
                                                             Gay or Lesbian;Straight / Heterosexual                 3
                                                             Bisexual;Gay or Lesbian                                1
Woman;Man;Non-binary, genderqueer, or gender non-conforming  Bisexual;Gay or Lesbian;Straight / Heterosexual       24
                                                             Straight / Heterosexual                               10
                                                             Bisexual                                               5
                                                             Bisexual;Straight / Heterosexual                       3
                                                             Bisexual;Gay or Lesbian                                1
Woman;Non-binary, genderqueer, or gender non-conforming      Bisexual                                              57
                                                             Gay or Lesbian                                        47
                                                             Bisexual;Straight / Heterosexual                       7
                                                             Straight / Heterosexual                                7
                                                             Bisexual;Gay or Lesbian                                5
                                                             Bisexual;Gay or Lesbian;Straight / Heterosexual        1
                                                             Gay or Lesbian;Straight / Heterosexual                 1
Name: Sexuality, dtype: int64

In [94]:
df_gp_contry = df.groupby('Country')
df_gp_contry['SocialMedia'].value_counts(normalize=True)[:30]
print("-----------")
df_gp_contry.SocialMedia.value_counts(normalize=True).China

Country      SocialMedia
Afghanistan  Facebook                    0.405405
             YouTube                     0.243243
             I don't use social media    0.162162
             WhatsApp                    0.108108
             Instagram                   0.027027
             LinkedIn                    0.027027
             Twitter                     0.027027
Albania      WhatsApp                    0.214286
             Facebook                    0.190476
             Instagram                   0.154762
             YouTube                     0.119048
             Twitter                     0.095238
             LinkedIn                    0.083333
             Reddit                      0.071429
             I don't use social media    0.047619
             Snapchat                    0.011905
             WeChat 微信                   0.011905
Algeria      YouTube                     0.338710
             Facebook                    0.330645
             Twitter                     0.112903
             LinkedIn                    0.072581
             I don't use social media    0.056452
             Instagram                   0.056452
             Reddit                      0.016129
             WhatsApp                    0.016129
Andorra      Facebook                    0.285714
             I don't use social media    0.285714
             Reddit                      0.142857
             Snapchat                    0.142857
             YouTube                     0.142857
Name: SocialMedia, dtype: float64

-----------

SocialMedia
WeChat 微信                   0.670549
YouTube                     0.088186
Weibo 新浪微博                  0.069884
I don't use social media    0.044925
Twitter                     0.044925
Reddit                      0.019967
LinkedIn                    0.018303
Facebook                    0.013311
Instagram                   0.011647
Youku Tudou 优酷              0.011647
WhatsApp                    0.004992
VK ВКонта́кте               0.001664
Name: SocialMedia, dtype: float64

In [93]:
df_gp_gender = df.groupby('Gender')
df_gp_gender.Sexuality.value_counts().Man
df_gp_gender.Sexuality.value_counts()[:30]

Sexuality
Straight / Heterosexual                            65496
Bisexual                                            2262
Gay or Lesbian                                      1298
Bisexual;Straight / Heterosexual                     396
Bisexual;Gay or Lesbian                               56
Bisexual;Gay or Lesbian;Straight / Heterosexual       54
Gay or Lesbian;Straight / Heterosexual                26
Name: Sexuality, dtype: int64

Gender                                                 Sexuality
Man                                                    Straight / Heterosexual                            65496
                                                       Bisexual                                            2262
                                                       Gay or Lesbian                                      1298
                                                       Bisexual;Straight / Heterosexual                     396
                                                       Bisexual;Gay or Lesbian                               56
                                                       Bisexual;Gay or Lesbian;Straight / Heterosexual       54
                                                       Gay or Lesbian;Straight / Heterosexual                26
Man;Non-binary, genderqueer, or gender non-conforming  Straight / Heterosexual                               56
                                                       Bisexual                                              47
                                                       Gay or Lesbian                                        23
                                                       Bisexual;Straight / Heterosexual                      15
                                                       Bisexual;Gay or Lesbian                                2
Non-binary, genderqueer, or gender non-conforming      Bisexual                                             202
                                                       Straight / Heterosexual                               74
                                                       Gay or Lesbian                                        63
                                                       Bisexual;Gay or Lesbian                               13
                                                       Bisexual;Straight / Heterosexual                       5
                                                       Bisexual;Gay or Lesbian;Straight / Heterosexual        3
                                                       Gay or Lesbian;Straight / Heterosexual                 3
Woman                                                  Straight / Heterosexual                             4017
                                                       Bisexual                                             802
                                                       Gay or Lesbian                                       340
                                                       Bisexual;Straight / Heterosexual                      61
                                                       Bisexual;Gay or Lesbian                               33
                                                       Bisexual;Gay or Lesbian;Straight / Heterosexual        9
                                                       Gay or Lesbian;Straight / Heterosexual                 5
Woman;Man                                              Straight / Heterosexual                               43
                                                       Bisexual                                              19
                                                       Bisexual;Gay or Lesbian;Straight / Heterosexual        6
                                                       Bisexual;Straight / Heterosexual                       3
Name: Sexuality, dtype: int64

In [45]:
df.YearsCode.astype(float).median()
df.YearsCode.astype(float).mean()

9.0

11.662114216834588

In [230]:
countries = ['China', 'United States', 'Hong Kong (S.A.R.)', 'Canada']

print("percentage of different education level: ")
df.EdLevel.value_counts_plus()

print("median salary for each education level (USD): ")
df.groupby('EdLevel').ConvertedComp.median().sort_values(ascending=False)

print("count of education level by country: ")
df.groupby('Country').EdLevel.value_counts().unstack(level=0).loc[:, countries]

print("median salary (USD) for each education level by country: ")
pd.pivot_table(data=df, values='ConvertedComp', index='EdLevel', columns='Country', aggfunc='median').loc[:, ['China', 'United States', 'Hong Kong (S.A.R.)']]

percentage of different education level:

stats                                               count      rate
values
Bachelor’s degree (BA, BS, B.Eng., etc.)            39134  0.452992
Master’s degree (MA, MS, M.Eng., MBA, etc.)         19569  0.226519
Some college/university study without earning a...  10502  0.121565
Secondary school (e.g. American high school, Ge...   8642  0.100035
Associate degree                                     2938  0.034009
Other doctoral degree (Ph.D, Ed.D., etc.)            2432  0.028151
Primary/elementary school                            1422  0.016460
Professional degree (JD, MD, etc.)                   1198  0.013867
I never completed any formal education                553  0.006401

median salary for each education level (USD):

EdLevel
Other doctoral degree (Ph.D, Ed.D., etc.)                                             81960.0
Bachelor’s degree (BA, BS, B.Eng., etc.)                                              60000.0
Master’s degree (MA, MS, M.Eng., MBA, etc.)                                           57744.0
Associate degree                                                                      56092.5
I never completed any formal education                                                53562.0
Some college/university study without earning a degree                                52476.0
Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)    37128.0
Primary/elementary school                                                             34368.0
Professional degree (JD, MD, etc.)                                                    32998.0
Name: ConvertedComp, dtype: float64

count of education level by country:

NameError: name 'countires' is not defined