In [6]:
from ds_utils.ds_preamble import *
from ds_utils.ds_plotting import *
from ds_utils.ds_helper import *

calling ds_preamble..
calling ds_helper...

In [233]:
# %ls ../data/stack-overflow-developer-survey-2019
# year = '2021'
year = '2019'
df_schema = pd.read_csv(f'../data/stack-overflow-developer-survey-{year}/survey_results_schema.csv')
df_raw = pd.read_csv(f'../data/stack-overflow-developer-survey-{year}/survey_results_public.csv')

In [234]:
df = df_raw.copy()

In [244]:
df.columns

Index(['ResponseId', 'MainBranch', 'Employment', 'Country', 'US_State',
       'UK_Country', 'EdLevel', 'Age1stCode', 'LearnCode', 'YearsCode',
       'YearsCodePro', 'DevType', 'OrgSize', 'Currency', 'CompTotal',
       'CompFreq', 'LanguageHaveWorkedWith', 'LanguageWantToWorkWith',
       'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith',
       'PlatformHaveWorkedWith', 'PlatformWantToWorkWith',
       'WebframeHaveWorkedWith', 'WebframeWantToWorkWith',
       'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith',
       'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith',
       'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith', 'OpSys',
       'NEWStuck', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'NEWOtherComms', 'Age', 'Gender', 'Trans', 'Sexuality',
       'Ethnicity', 'Accessibility', 'MentalHealth', 'SurveyLength',
       'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

In [246]:
df.Country

0                                                 Slovakia
1                                              Netherlands
2                                       Russian Federation
3                                                  Austria
4        United Kingdom of Great Britain and Northern I...
                               ...
83434                             United States of America
83435                                                Benin
83436                             United States of America
83437                                               Canada
83438                                               Brazil
Name: Country, Length: 83439, dtype: object

In [235]:
# check whether a string exists in a dataframe column
# want to find if Hong Kong is included as a country
unique_names = df.Country.unique()
[name for name in unique_names if isinstance(name, str) and "Hong" in name]

country_names = pd.Series(unique_names)
country_names[country_names.str.contains('Hong').replace(np.nan, False)]

['Hong Kong (S.A.R.)']

60    Hong Kong (S.A.R.)
dtype: object

In [236]:
df.columns.sort_values()[df.columns.sort_values().str.contains("language", case=False)]

Index(['LanguageHaveWorkedWith', 'LanguageWantToWorkWith'], dtype='object')

In [237]:
df.LanguageWorkedWith[df.LanguageWorkedWith.str.contains(r';?R;?').replace(np.nan, False)]

AttributeError: 'DataFrame' object has no attribute 'LanguageWorkedWith'

In [238]:
# make `YearsCode` to be float
df['YearsCode'] = df.YearsCode.replace(['Less than 1 year', 'More than 50 years'],[0,51]).astype(float)

In [239]:
df.groupby('Gender').YearsCode.median()
df.groupby('EdLevel').YearsCode.median()

Gender
Man                                                                                   10.0
Man;Non-binary, genderqueer, or gender non-conforming                                 10.0
Man;Non-binary, genderqueer, or gender non-conforming;Or, in your own words:           9.0
Man;Or, in your own words:                                                             8.0
Man;Woman                                                                              5.0
Man;Woman;Non-binary, genderqueer, or gender non-conforming                            8.0
Man;Woman;Non-binary, genderqueer, or gender non-conforming;Or, in your own words:     8.0
Man;Woman;Or, in your own words:                                                       8.0
Non-binary, genderqueer, or gender non-conforming                                      9.0
Non-binary, genderqueer, or gender non-conforming;Or, in your own words:               8.5
Or, in your own words:                                                                 9.0
Prefer not to say                                                                      9.0
Woman                                                                                  7.0
Woman;Non-binary, genderqueer, or gender non-conforming                                9.0
Woman;Non-binary, genderqueer, or gender non-conforming;Or, in your own words:         8.0
Woman;Or, in your own words:                                                          10.0
Name: YearsCode, dtype: float64

EdLevel
Associate degree (A.A., A.S., etc.)                                                   10.0
Bachelor’s degree (B.A., B.S., B.Eng., etc.)                                          10.0
Master’s degree (M.A., M.S., M.Eng., MBA, etc.)                                       13.0
Other doctoral degree (Ph.D., Ed.D., etc.)                                            20.0
Primary/elementary school                                                              4.0
Professional degree (JD, MD, etc.)                                                    12.0
Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)     5.0
Some college/university study without earning a degree                                 9.0
Something else                                                                         5.0
Name: YearsCode, dtype: float64

In [240]:
df.groupby('Gender').Sexuality.value_counts()

Gender                        Sexuality
Man                           Straight / Heterosexual                             58242
                              Prefer not to say                                    3271
                              Bisexual                                             2136
                              Gay or Lesbian                                       1079
                              Prefer to self-describe:                              762
                                                                                  ...
Woman;Or, in your own words:  Straight / Heterosexual;Prefer to self-describe:        2
                              Bisexual                                                1
                              Bisexual;Prefer to self-describe:                       1
                              Prefer not to say                                       1
                              Queer                                                   1
Name: Sexuality, Length: 217, dtype: int64

In [241]:
df_gp_contry = df.groupby('Country')
df_gp_contry['SocialMedia'].value_counts(normalize=True)[:30]
print("-----------")
df_gp_contry.SocialMedia.value_counts(normalize=True).China

KeyError: 'Column not found: SocialMedia'

In [242]:
df_gp_gender = df.groupby('Gender')
df_gp_gender.Sexuality.value_counts().Man
df_gp_gender.Sexuality.value_counts()[:30]

Sexuality
Straight / Heterosexual                                                           58242
Prefer not to say                                                                  3271
Bisexual                                                                           2136
Gay or Lesbian                                                                     1079
Prefer to self-describe:                                                            762
Straight / Heterosexual;Bisexual                                                    433
Straight / Heterosexual;Prefer to self-describe:                                    162
Queer                                                                               121
Bisexual;Queer                                                                       73
Straight / Heterosexual;Queer                                                        53
Gay or Lesbian;Queer                                                                 52
Bisexual;Gay or Lesbian                                                              50
Bisexual;Prefer to self-describe:                                                    18
Bisexual;Gay or Lesbian;Queer                                                        16
Straight / Heterosexual;Gay or Lesbian                                               14
Straight / Heterosexual;Bisexual;Gay or Lesbian                                      13
Prefer to self-describe:;Queer                                                       11
Straight / Heterosexual;Bisexual;Prefer to self-describe:                             9
Straight / Heterosexual;Bisexual;Queer                                                6
Bisexual;Prefer to self-describe:;Queer                                               4
Straight / Heterosexual;Bisexual;Gay or Lesbian;Queer                                 4
Straight / Heterosexual;Prefer to self-describe:;Queer                                3
Bisexual;Prefer to self-describe:;Gay or Lesbian                                      2
Prefer to self-describe:;Gay or Lesbian;Queer                                         2
Straight / Heterosexual;Bisexual;Prefer to self-describe:;Gay or Lesbian;Queer        2
Bisexual;Prefer to self-describe:;Gay or Lesbian;Queer                                1
Straight / Heterosexual;Bisexual;Prefer to self-describe:;Gay or Lesbian              1
Straight / Heterosexual;Bisexual;Prefer to self-describe:;Queer                       1
Name: Sexuality, dtype: int64

Gender                                                 Sexuality
Man                                                    Straight / Heterosexual                                                           58242
                                                       Prefer not to say                                                                  3271
                                                       Bisexual                                                                           2136
                                                       Gay or Lesbian                                                                     1079
                                                       Prefer to self-describe:                                                            762
                                                       Straight / Heterosexual;Bisexual                                                    433
                                                       Straight / Heterosexual;Prefer to self-describe:                                    162
                                                       Queer                                                                               121
                                                       Bisexual;Queer                                                                       73
                                                       Straight / Heterosexual;Queer                                                        53
                                                       Gay or Lesbian;Queer                                                                 52
                                                       Bisexual;Gay or Lesbian                                                              50
                                                       Bisexual;Prefer to self-describe:                                                    18
                                                       Bisexual;Gay or Lesbian;Queer                                                        16
                                                       Straight / Heterosexual;Gay or Lesbian                                               14
                                                       Straight / Heterosexual;Bisexual;Gay or Lesbian                                      13
                                                       Prefer to self-describe:;Queer                                                       11
                                                       Straight / Heterosexual;Bisexual;Prefer to self-describe:                             9
                                                       Straight / Heterosexual;Bisexual;Queer                                                6
                                                       Bisexual;Prefer to self-describe:;Queer                                               4
                                                       Straight / Heterosexual;Bisexual;Gay or Lesbian;Queer                                 4
                                                       Straight / Heterosexual;Prefer to self-describe:;Queer                                3
                                                       Bisexual;Prefer to self-describe:;Gay or Lesbian                                      2
                                                       Prefer to self-describe:;Gay or Lesbian;Queer                                         2
                                                       Straight / Heterosexual;Bisexual;Prefer to self-describe:;Gay or Lesbian;Queer        2
                                                       Bisexual;Prefer to self-describe:;Gay or Lesbian;Queer                                1
                                                       Straight / Heterosexual;Bisexual;Prefer to self-describe:;Gay or Lesbian              1
                                                       Straight / Heterosexual;Bisexual;Prefer to self-describe:;Queer                       1
Man;Non-binary, genderqueer, or gender non-conforming  Straight / Heterosexual                                                              54
                                                       Bisexual                                                                             39
Name: Sexuality, dtype: int64

In [45]:
df.YearsCode.astype(float).median()
df.YearsCode.astype(float).mean()

9.0

11.662114216834588

In [247]:
countries = ['China', 'United States', 'Hong Kong (S.A.R.)', 'Canada']
# countries = ['China', 'United States of America', 'Hong Kong (S.A.R.)', 'Canada']

print("percentage of different education level: ")
df.EdLevel.value_counts_plus()

print("median salary for each education level (USD): ")
df.groupby('EdLevel').ConvertedComp.median().sort_values(ascending=False)

print("count of education level by country: ")
df.groupby('Country').EdLevel.value_counts().unstack(level=0).loc[:, countries]

print("median salary (USD) for each education level by country: ")
pd.pivot_table(data=df, values='ConvertedComp', index='EdLevel', columns='Country', aggfunc='median').loc[:, countries]

percentage of different education level:

stats                                               count      rate
values
Bachelor’s degree (B.A., B.S., B.Eng., etc.)        35357  0.425342
Master’s degree (M.A., M.S., M.Eng., MBA, etc.)     17512  0.210668
Some college/university study without earning a...  10589  0.127385
Secondary school (e.g. American high school, Ge...   9534  0.114693
Other doctoral degree (Ph.D., Ed.D., etc.)           2567  0.030881
Primary/elementary school                            2479  0.029822
Associate degree (A.A., A.S., etc.)                  2231  0.026839
Something else                                       1601  0.019260
Professional degree (JD, MD, etc.)                   1256  0.015110

median salary for each education level (USD):

EdLevel
Other doctoral degree (Ph.D., Ed.D., etc.)                                            77556.0
Master’s degree (M.A., M.S., M.Eng., MBA, etc.)                                       60744.0
Associate degree (A.A., A.S., etc.)                                                   56720.0
Bachelor’s degree (B.A., B.S., B.Eng., etc.)                                          54972.0
Some college/university study without earning a degree                                51887.0
Primary/elementary school                                                             49050.0
Something else                                                                        47563.0
Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)    41568.0
Professional degree (JD, MD, etc.)                                                    37752.0
Name: ConvertedCompYearly, dtype: float64

count of education level by country:

Country,China,United States of America,Hong Kong (S.A.R.),Canada
EdLevel,,,,
"Associate degree (A.A., A.S., etc.)",53.0,638.0,3.0,182.0
"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",468.0,7315.0,108.0,1284.0
"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",175.0,2578.0,40.0,449.0
"Other doctoral degree (Ph.D., Ed.D., etc.)",21.0,607.0,4.0,89.0
Primary/elementary school,65.0,551.0,4.0,155.0
"Professional degree (JD, MD, etc.)",14.0,95.0,1.0,25.0
"Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)",69.0,1107.0,23.0,298.0
Some college/university study without earning a degree,126.0,2108.0,11.0,415.0
Something else,36.0,216.0,2.0,104.0

median salary (USD) for each education level by country:

Country,China,United States of America,Hong Kong (S.A.R.),Canada
EdLevel,,,,
"Associate degree (A.A., A.S., etc.)",20580.0,109250.0,20064.0,68068.0
"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",34793.0,123000.0,50940.0,75631.0
"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",42868.0,140000.0,66896.0,81681.5
"Other doctoral degree (Ph.D., Ed.D., etc.)",60012.0,150000.0,105489.0,88867.0
Primary/elementary school,25716.0,125000.0,612.0,79706.5
"Professional degree (JD, MD, etc.)",22296.0,122500.0,92628.0,68068.0
"Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)",19716.0,110000.0,13428.0,68068.0
Some college/university study without earning a degree,34296.0,120000.0,71014.0,68068.0
Something else,19716.0,102000.0,NaN,59749.0