In [1]:
from ds_utils.ds_preamble import *
from ds_utils.ds_plotting import *
from ds_utils.ds_helper import *
import datetime
import duckdb

calling ds_preamble..
calling ds_helper...

In [15]:
df1 = pd.DataFrame(np.random.randint(1,100, size=(100,10)))
df1.rename({0:'id'}, axis=1, inplace=True)

df2 = pd.DataFrame(np.random.randint(1,100, size=(100,10)))
df2.rename({0:'id'}, axis=1, inplace=True)

# df1
# df2
# df1.merge(df2, on='id').sort_values(by='id')

df1['id'].nunique()
df2['id'].nunique()

# M1
pd.concat([df1.id,df2.id]).drop_duplicates().sort_values().reset_index(drop=True)

# M2: convert to set and then find the size of union
len(set(df1.id).union(set(df2.id)))

0      1
1      2
2      3
3      4
4      6
      ..
80    95
81    96
82    97
83    98
84    99
Name: id, Length: 85, dtype: int64

In [13]:

len(set(df1['id']).union(df2['id']))

61

62

82

In [115]:
purchase=pd.DataFrame(dict(sid=[1,1,2,2,3,4,5,9], purchase=[10,20,2,3,1,2,4,44]))
students = pd.DataFrame(dict(sid=[1,2,3,4,5,6,7], age=[10,22,11,21,55,19,23]))
print(purchase)
print(students)
print(purchase.merge(students, on='sid', how='inner'))
print(purchase.merge(students, on='sid', how='outer'))
print(purchase.merge(students, on='sid', how='left'))
print(purchase.merge(students, on='sid', how='right'))

   sid  purchase
0    1        10
1    1        20
2    2         2
3    2         3
4    3         1
5    4         2
6    5         4
7    9        44
   sid  age
0    1   10
1    2   22
2    3   11
3    4   21
4    5   55
5    6   19
6    7   23
   sid  purchase  age
0    1        10   10
1    1        20   10
2    2         2   22
3    2         3   22
4    3         1   11
5    4         2   21
6    5         4   55
   sid  purchase   age
0    1      10.0  10.0
1    1      20.0  10.0
2    2       2.0  22.0
3    2       3.0  22.0
4    3       1.0  11.0
5    4       2.0  21.0
6    5       4.0  55.0
7    9      44.0   NaN
8    6       NaN  19.0
9    7       NaN  23.0
   sid  purchase   age
0    1        10  10.0
1    1        20  10.0
2    2         2  22.0
3    2         3  22.0
4    3         1  11.0
5    4         2  21.0
6    5         4  55.0
7    9        44   NaN
   sid  purchase  age
0    1      10.0   10
1    1      20.0   10
2    2       2.0   22
3    2       3.0   22
4    3       1.0   11
5    4       2.0   21
6    5       4.0   55
7    6       NaN   19
8    7       NaN   23

In [154]:
s1=pd.Series([1,2,3,4],index=[5,6,7,8,])
s2=pd.Series([1,2,3,4],index=[1,2,3,4])
s3=pd.Series([1,2,3,4,5,6],index=[6,6,5,5,7,8])
print(pd.concat([s1,s2], axis=1))
#      0    1
# 5  1.0  NaN
# 6  2.0  NaN
# 7  3.0  NaN
# 8  4.0  NaN
# 1  NaN  1.0
# 2  NaN  2.0
# 3  NaN  3.0
# 4  NaN  4.0
print(pd.concat([s3,s1], axis=1))
#    0  1
# 6  1  2
# 6  2  2
# 5  3  1
# 5  4  1
# 7  5  3
# 8  6  4

     0    1
5  1.0  NaN
6  2.0  NaN
7  3.0  NaN
8  4.0  NaN
1  NaN  1.0
2  NaN  2.0
3  NaN  3.0
4  NaN  4.0
   0  1
6  1  2
6  2  2
5  3  1
5  4  1
7  5  3
8  6  4

In [156]:
s1 = pd.Series([0, 1], index=['a', 'b'])
s2 = pd.Series([2, 3, 4], index=['c', 'd', 'e'])
s3 = pd.Series([5, 6], index=['f', 'g'])
pd.merge(s1,s2)

ValueError: Cannot merge a Series without a name

In [171]:
player_list = [['M.S.Dhoni', 36, 75, 5428000],
               ['A.B.D Villers', 38, 74, 3428000],
               ['V.Kholi', 31, 70, 8428000],
               ['S.Smith', 34, 80, 4428000],
               ['C.Gayle', 40, 100, 4528000],
               ['J.Root', 33, 72, 7028000],
               ['K.Peterson', 42, 85, 2528000]]
df = pd.DataFrame(player_list, 
                  columns = ['Name', 'Age', 
                             'Weight', 'Salary'])
df1, df2 = [gp for _, gp in df.groupby(df.Age<35)]
df1
df2

            Name  Age  Weight   Salary
0      M.S.Dhoni   36      75  5428000
1  A.B.D Villers   38      74  3428000
4        C.Gayle   40     100  4528000
6     K.Peterson   42      85  2528000

      Name  Age  Weight   Salary
2  V.Kholi   31      70  8428000
3  S.Smith   34      80  4428000
5   J.Root   33      72  7028000

In [178]:
df.isna().sum().sum()

0