In [4]:
from ds_utils.ds_preamble import *
from ds_utils.ds_plotting import *
from ds_utils.ds_helper import *

calling ds_preamble..
calling ds_helper...

In [97]:
tips = sns.load_dataset("tips")
tips_tiny = tips[:4]

# aggregation for DataFrame and GroupBy
- df: 
    - applymap, agg, transform, apply
- groupby:
    - apply, agg, transform

In [90]:
def find_abs(s):
    print(s)
    return s.abs()

def add_(e):
    print(e)
    return e+1

def find_mean(s):
    print(s)
    return s.mean()

tips_tiny = tips[['total_bill','tip']][:2]
tips_tiny.apply([find_mean,'mean']) # can accept list of functions
tips_tiny.transform([find_abs, add_]) # can accept list of functions
tips_tiny.applymap(add_) # accept a single function only..

16.99
ind
0    16.99
1    10.34
Name: total_bill, dtype: float64
1.01
ind
0    1.01
1    1.66
Name: tip, dtype: float64

cols       total_bill    tip
find_mean      13.665  1.335
mean           13.665  1.335

In [92]:
print(tips_tiny.select_dtypes('number'))
print(tips_tiny.select_dtypes('number').apply(lambda x: x.mean()+3))
print(tips_tiny.select_dtypes('number').applymap(lambda x: 'big' if x >5 else 'small'))

cols  total_bill   tip
ind
0          16.99  1.01
1          10.34  1.66
cols
total_bill    16.665
tip            4.335
dtype: float64
cols total_bill    tip
ind
0           big  small
1           big  small

In [89]:
tips_gp = tips[:3].groupby('sex')[['total_bill','tip']]

tips_gp.apply(find_mean) # pass each subframe (i.e. group). accept a function only. Can't accept a list of functions
tips_gp.agg(find_mean) # for each group, pass each column one by one
tips_gp.transform(find_mean) # like agg, for each group, pass each column one by one

ind
1    10.34
2    21.01
Name: total_bill, dtype: float64
ind
0    16.99
Name: total_bill, dtype: float64
ind
1    1.66
2    3.50
Name: tip, dtype: float64
ind
0    1.01
Name: tip, dtype: float64

cols    total_bill   tip
sex
Male        15.675  2.58
Female      16.990  1.01