In [ ]:
from ds_utils.ds_preamble import *
from ds_utils.ds_plotting import *
from ds_utils.ds_helper import *
import datetime
import duckdb
import pathlib
from glob import glob

In [ ]:
attend_files = sorted(glob('/Users/whlin/Library/CloudStorage/OneDrive-HKUSTConnect/Documents/python/data/raymond_attendance_count/processed/[0-9]*.txt'))
n_cols = len(attend_files)

ids = pd.read_excel('/Users/whlin/Library/CloudStorage/OneDrive-HKUSTConnect/Documents/python/data/raymond_attendance_count/WholeClass.xlsx', usecols='B')['ID']

# first, build a df to store the final results
final_df = pd.DataFrame(np.zeros([len(ids), n_cols], dtype=int), index=ids, columns=[f"A{i}" for i in range(1, n_cols+1)])

final_df

for file in attend_files:
    num = pathlib.Path(file).stem
    with open(file, 'r') as f:
        for sid in f: # each line is a sid
            sid_strip = int(sid.strip())
            if sid_strip in final_df.index: # some students might have dropped...
                final_df.loc[sid_strip, f"A{num}"] = 1

final_df    
final_df.to_excel("~/Downloads/hello.xlsx")

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,...,A14,A15,A16,A17,A18,A19,A20,A21,A22,A23
ID,,,,,,,,,,,,,,,,,,,,,
20260060,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20309892,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20313130,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20349830,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20264145,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20369048,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20421054,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20345121,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20413203,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20329373,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,...,A14,A15,A16,A17,A18,A19,A20,A21,A22,A23
ID,,,,,,,,,,,,,,,,,,,,,
20260060,0,1,1,1,1,1,1,1,1,1,...,1,1,0,1,1,1,0,1,0,0
20309892,0,1,1,0,0,1,1,0,1,1,...,1,1,1,0,1,1,1,1,1,1
20313130,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
20349830,0,0,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
20264145,1,1,1,0,1,1,1,0,1,1,...,1,1,1,1,1,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20369048,0,1,1,1,0,1,1,1,1,1,...,1,1,1,0,0,1,0,1,1,0
20421054,0,0,0,1,1,1,1,0,1,1,...,1,1,1,0,0,1,1,0,0,0
20345121,0,1,1,1,1,1,1,1,0,1,...,1,1,1,1,0,0,0,0,0,0
20413203,1,1,1,0,1,1,1,1,1,1,...,1,1,1,1,0,1,1,1,1,1
20329373,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0