In [2]:
from ds_utils.ds_preamble import *
from ds_utils.ds_plotting import *
from ds_utils.ds_helper import *
import datetime
import duckdb

calling ds_preamble..
calling ds_helper...

In [9]:
path = r'/Users/whlin/Library/CloudStorage/OneDrive-HKUSTConnect/Academic/Notes of HKCC/HKCC Teaching/SEHH2239/AR/SEHH2239 AR Template with Exam 201.xlsx'
df = pd.read_excel(path, sheet_name='score_all', usecols='A:F')
df.groupby('Group').agg(['mean','median','max'])

/var/folders/c2/yj8ksjmn34v5f9csr1s82d8r0000gn/T/ipykernel_96591/3460697428.py:3: FutureWarning: ['ID number', 'Department'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  df.groupby('Group').agg(['mean','median','max'])

             mid                      a1                    a2
            mean median   max       mean median max       mean median    max
Group
201    70.683168   72.0  90.0  76.377358   88.0  97  69.865385   78.0  100.0
202    66.884615   68.0  88.0  81.429907   90.0  96  65.869159   71.0   98.0
203    67.307692   69.0  92.0  80.269231   88.0  97  72.365385   73.0   99.0