In [1]:
from ds_preamble import *

In [81]:
df1 = pd.DataFrame(np.random.randint(1,100, size=(100,10)))
df1.rename({0:'id'}, axis=1, inplace=True)

df2 = pd.DataFrame(np.random.randint(1,100, size=(100,10)))
df2.rename({0:'id'}, axis=1, inplace=True)

pd.concat([df1.id,df2.id]).drop_duplicates().sort_values().reset_index(drop=True)

print(set(df1.id).union(set(df2.id)))

0      1
1      2
2      3
3      4
4      5
      ..
80    94
81    95
82    96
83    97
84    99
Name: id, Length: 85, dtype: int64

{1, 2, 3, 4, 5, 6, 7, 8, 9, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 25, 26, 27, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 41, 42, 43, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 68, 69, 70, 71, 73, 74, 75, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 91, 92, 93, 94, 95, 96, 97, 99}

In [86]:
df1=pd.DataFrame(dict(sid=[1,1,2,2,3,4,5,5], purchase=[10,20,2,3,1,2,4,30]))
df1

   sid  purchase
0    1        10
1    1        20
2    2         2
3    2         3
4    3         1
5    4         2
6    5         4
7    5        30